<li>
  <form id="search-form">
    <input type="text" id="search-query-<%- context %>" class="search-query st-default-search-input" aria-label="Search">
  </form>
</li>
<%- partial('partials/java') %>
<li>
  <a href="<%- url_for("/os/") %>">操作系统</a>
</li>

<%- partial('partials/resources_dropdown') %>
<!-- <li>
  <a href="<%- url_for("/partners") %>" class="nav-link <%- page.path.match(/partners/) ? 'current' : '' %>">Partners</a>
</li> -->
<%- partial('partials/support_vue_dropdown') %>
<%- partial('partials/language_dropdown') %>
